.vscode/settings.json
w4d4/EX_XP/__pycache__/menu_item.cpython-311.pyc
.gitignore
w4d4/daily/__pycache__/DB_connection.cpython-311.pyc
w4d4/EX_XP/__pycache__/DB_connection.cpython-311.pyc
w4d4/temp.sql
w5d3/my_plot.png
w5d3/my_styled_plot.png
w5d3/stam.ipynb
